@font-face {
  font-family: Montserrat;
  src: url("%PUBLIC_URL%/fonts/Montserrat-Regular.ttf");
}

.mycontainer {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.container {
  width: 80%;
  padding: 0;
}
.dropdown-button{
  float: left;
}
.btn{
  background-color:#F5F8FA;
  color: black;
  border:0px;
 
}

.btn :hover {
  background-color:rgb(190, 190, 190);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  height:50px;
  margin-top:5px;
	color: #2E2E2E;
	background-color: #FFFFFF
}

.nav {
	min-height:20 px;
  padding:0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
  background-color:#F5F8FA;
  border: 2px #AAAAAA solid;
  border-left: 0;
	border-right: 0;
}

img {
  border: 1px solid black;
  margin:3px;
  padding:auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.img-magnifier-container {
  position:relative;
  top: 0;
  left: 0;
  height: auto;
  
}
.img-magnifier-glass {
  position: absolute;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 130px;
  height: 130px;
}